.section-expense-table {
  text-align: center;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.th-expense-table {
  border: 1px solid black;
  padding: 15px;
}

#tag-expense-table {
  padding: 0px 40px;
}

#value-expense-table {
  padding: 0px 40px;
}

.tr-expense {
  background: gray;
  
}

.td-expense {
 padding-top: 20px;
}
